header{
    position: sticky;
    top: 0;
    font-family: 'Nunito Sans', sans-serif;
    z-index: 10;
    nav{
        background-color: black;
        .contenedor-nav{
            a{
                font-size: 30px;
                margin: 15px;
                font-weight: 700;
            }
            #navbarSupportedContent{
                ul{
                    li{
                        margin-right: 37px;
                        a{
                            font-size: 17px;
                            font-weight: 400;
                            transition: color 0.5s;
                            &:hover{
                                color: rgb(207, 207, 207) !important; 
                            }
                        }
                    }
                }
            }
        }
    }
}