




$color-primario: black;
$color-secundario: white;
$color-terciario: rgb(134, 134, 134);
$color-cuaternario: grey;

@mixin imagen-principal($background, $repeat, $size, $position, $height, $flex, $justify, $align){
    background-image: $background;
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
    height: $height;
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex ($flex, $direction, $justify, $align){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

